<<<<<<< HEAD
    <h1>Registration</h1>
    {{ form_start(form) }}
        {{ form_row(form.civilite, {'label': 'Civilite', 'attr':{'placeholder':'Mr, M, Mme...'}}) }}
        {{ form_row(form.nom, {'label': 'Nom', 'attr':{'placeholder':'Nom...'}}) }}
        {{ form_row(form.prenom, {'label': 'Prenom', 'attr':{'placeholder':'Prenom...'}}) }}
        {{ form_row(form.codepostal, {'label': 'Codepostal', 'attr':{'placeholder':'Codepostal...'}}) }}
        {{ form_row(form.email, {'label': 'Email', 'attr':{'placeholder':'Email...'}}) }}
        {{ form_row(form.ville, {'label': 'Ville', 'attr':{'placeholder':'Ville...'}}) }}
        {{ form_row(form.telfixe, {'label': 'Telephone fixe', 'attr':{'placeholder':'Telephone fixe...'}}) }}
        {{ form_row(form.telportable, {'label': 'Telephone Portable', 'attr':{'placeholder':'Telephone Portable...'}}) }}
        {{ form_row(form.password, {'label': 'Mot de passe', 'attr':{'placeholder':'Mot de passe...'}}) }}
        {{ form_row(form.professionnel, {'label': 'Professionnel'}) }}
        {{ form_row(form.nomsociete, {'label': 'Nom de votre societe', 'attr':{'placeholder':'Nom de votre societe...'}}) }}
        <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
=======
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Inscription</h5>
                <button type="button" onClick= "RemoveChild()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                {{ form_start(form) }}

                <div class="d-flex justify-content-center">

                    <div class="d-flex justify-content-center">
                        <div>
                            <label for="email" class="text-center col-12 mt-2">Civilité</label>
                            {{ form_row(form.civilite, { 'attr' : { 'class': 'form-control'} }) }}

                            <div class="invalid-feedback">
                                Veuillez renseigné un e-mail.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="invalid-feedback">
                    Veuillez renseigné une civilité.
                </div>
                <hr>
                <div class="d-flex justify-content-around">
                    <div>
                        <label for="nom" class="text-center col-12 mt-2">Nom</label>

                        {{ form_row(form.nom, { 'attr' : { 'class': 'form-control' , 'placeholder':'Nom...'} }) }}

                        <div class="invalid-feedback">
                            Veuillez renseigné un nom.
                        </div>
                    </div>
                    <div>
                        <label for="prenom" class="text-center col-12 mt-2">Prénom</label>
                        {{ form_row(form.prenom, { 'attr' : { 'class': 'form-control' , 'placeholder':'Prenom...'} }) }}

                        <div class="invalid-feedback">
                            Veuillez renseigné un prénom.
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div>
                        <label for="email" class="text-center col-12 mt-2">E-mail</label>
                        {{ form_row(form.email, { 'attr' : { 'class': 'form-control' , 'placeholder':'Email...'} }) }}

                        <div class="invalid-feedback">
                            Veuillez renseigné un e-mail.
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div>

                        <label for="password" class="text-center col-12 mt-2">Mot de Passe</label>
                        {{ form_row(form.password, { 'attr' : { 'class': 'form-control' , 'placeholder':'Mot de passe...'} }) }}


                        <div class="invalid-feedback">
                            Veuillez renseigné un mot de passe.
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div>
                        <label for="password" class="text-center col-12 mt-2">Confirmaton</label>
                        {{ form_row(form.password, { 'attr' : { 'class': 'form-control' , 'placeholder':'Mot de passe...'} }) }}

                        <div class="invalid-feedback">
                            Veuillez renseigné un mot de passe.
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <div>
                        <label for="cp" class="text-center col-12 mt-2">Code Postal</label>
                        {{ form_row(form.codepostal, { 'attr' : { 'class': 'form-control' , 'placeholder':'Code postale...'} }) }}

                        <div class="invalid-feedback">
                            Veuillez renseigné un code postal.
                        </div>
                    </div>
                    <div>
                        <label for="ville" class="text-center col-12 mt-2">Ville</label>
                        {{ form_row(form.ville, { 'attr' : { 'class': 'form-control' , 'placeholder':'Ville...'} }) }}

                        <div class="invalid-feedback">
                            Veuillez renseigné une ville.
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div>
                        <label for="telephone" class="text-center col-12 mt-2">Telephone</label>
                        {{ form_row(form.telportable, { 'attr' : { 'class': 'form-control' , 'placeholder':'telephone...'} }) }}

                        <div class="invalid-feedback">
                            Veuillez renseigné un numéro de téléphone.
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div>
                        <div class="form-check">
                            {{ form_row(form.professionnel, { 'id' : 'CheckPro' ,'attr' : { 'class': 'form-check-input', 'onclick': 'Prochecked()', } }) }}
                            <label class="form-check-label" for="CheckPro">
                                Professionel ?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div style="display:none" id="InputPro">
                        <label for="telephone" class="text-center col-12 mt-2">Nom de la société</label>
                        {{ form_row(form.nomsociete, { 'attr' : { 'class': 'form-control', 'placeholder': 'Nom de la société...' } }) }}
                        <div class="invalid-feedback">
                            Veuillez renseigné un nom de société
                        </div>
                    </div>
                </div>

                <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#connexionModal"><label
                        style="cursor: pointer;" for="" class="text-center col-12 mt-2">Inscription</label></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick= "RemoveChild()">Close</button>
                <button type="button" class="btn btn-primary">Connexion</button>
            </div>
        </div>
    </div>
</div>
>>>>>>> master
